<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythoner</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="jumbotron">
                  <h1>Hello, Pythoner !</h1>
                    <br />
                    {% if user.is_authenticated %}
                        <p>{{ user.username }}.你好 <a href="/accounts/logout/">  登出</a></p>
                    {% else %}
                        <p>匿名用户.请<a href="/accounts/login/">登入</a></p>
                    {% endif %}
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                {% block content %}
                 {% endblock %}

            </div>
        </div>

    </div>
</body>
</html>