<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythoner</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="jumbotron">
                  <h1>Hello, Pythoner !</h1>
                    <br />
                  <a class="btn btn-primary btn-lg" role="button" href="https://www.python.org/">欢迎来到python世界</a>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                {% block content %}
                 {% endblock %}

            </div>
        </div>

    </div>
</body>
</html>