<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythoner成长记录</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-14">
            <nav class="navbar navbar-inverse">
                <div style="color:#FFFFFF">
                    <center><h1>Pythoner成长记录</h1></center>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="alert alert-success" role="alert">Hello world!</div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="alert alert-info" role="alert">Hello Super!</div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="alert alert-danger" role="alert">Hello Pythoner!</div>
            </div>
    </div>
</div>
</body>
</html>

